.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;

  &__top {
    display: flex;
    gap: 24px;
  }

  &__sort {
    width: 200px;
  }
  &__filters {
    display: flex;
    justify-content: space-between;

    &--left {
      display: flex;
      gap: 24px;
      align-items: center;
    }

    &--title {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
    }

    &--btn {
      width: 100px;
    }
  }
}